<div class="card">
  <div class="card-header">
    <div class="banner">
      <p>actively hiring</p>
    </div>
    <h2>Full Stack Development</h2>
    <div class="company-name"><a href="">Amazon</a></div>
  </div>
  <div class="card-body">
    <div class="date">
      <div class="date-start">Start Date: immediately</div>
      <div class="date-duration">Duration: 6 months</div>
      <p></p>
    </div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem ex quia
      explicabo fuga minima possimus minus neque aut maiores.
    </p>
  </div>
</div>
